:host {
  display: flex;
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.paint-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.no-paints-message {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: larger;
}