:host {
  display: flex;
  flex: 1;
  margin: 0 1rem;
}

.filter-form {
  display: flex;
  flex: 1;
}

.filter-form-field {
  flex: 1;
}

::ng-deep .mat-mdc-form-field-infix {
  font-size: large;
}

::ng-deep .mat-mdc-floating-label mat-label {
  font-size: medium;
}

.clear-btn {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}