@import url('https://fonts.googleapis.com/css?family=Michroma');

:root {
  --mat-sys-brand-font-family: 'Michroma', sans-serif;
  --mat-sys-plain-font-family: 'Michroma', sans-serif;
  font-family: 'Courier New', Courier, monospace !important;
}

:host {
  display: flex;
  flex: 1;
}

.app-container {
  display: flex;
  flex: 1;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
}

.search-container {
  flex: 1;
  margin: 5rem;
}
