@import url('https://fonts.googleapis.com/css?family=Michroma');

:root {
  --mat-sys-brand-font-family: 'Michroma', sans-serif;
  --mat-sys-plain-font-family: 'Michroma', sans-serif;
  font-family: 'Courier New', Courier, monospace !important;
}

:host {
  display: flex;
  flex: 1;
}

.mat-mdc-card-content {
  display: flex;
  min-height: 0;
}

.app-container {
  display: flex;
  flex: 1;
  justify-items: center;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
  justify-content: center;
}

.search-container {
  display: flex;
  flex: 1;
  margin: 2rem;
  margin-bottom: 80px;
  max-width: 800px;
}

.mat-mdc-card-content {
  padding: 16px;
  flex: 1;
}

mat-card {
  background-color: rgba(50, 0, 0, 0.3); // white with 70% opacity
  backdrop-filter: blur(4px);                // optional frosted glass
}

::ng-deep .mat-mdc-card-header-text {
  display: flex;
  flex: 1;
  justify-content: center;
}
