:host {
  display: flex;
}

.mat-mdc-card {
  width: 100%;
  margin: 1rem;
}

.mat-mdc-card-content {
  padding: 1em 16px;
}

.example-color {
  height: 10px;
  display: flex;
}

.paint-item-content {
  display: flex;
  flex-direction: column;
}

.content-item {
  display: flex;
  padding: 1rem;
}

.mat-mdc-card-header {
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

::ng-deep .mat-mdc-card-header-text {
  display: flex;
  flex: 1;
  align-items: center;
}

.light-text {
  color: #fff !important;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-text {
  color: #000 !important;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.brand-content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}

.item-detail-container {
  display: flex;
  flex: 1;
  align-items: start;
  gap: 1rem;
  min-width: 0;
}

.ref-image {
  width: 1rem;
  flex: 1;
}

.item-detail-text {
  flex: 1;
}