/* You can add global styles to this file, and also import other style files */
@use 'assets/dist/themes/czarec.theme' as *;
@import url('https://fonts.googleapis.com/css?family=Michroma');

body {
  font-family: 'Michroma', sans-serif !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

/* Apply animations via Angular directives */
.fadeIn {
  animation: fadeIn 0.6s ease-out forwards;
}

.fadeOut {
  animation: fadeOut 0.6s ease-out forwards;
}

body {
  display: flex;
  margin: 0;

  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
  height: 100vh;
}

body {
  margin: 0;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-surface);
  font-family: 'Custom', 'Helvetica Neue', sans-serif;
}
