@use '@angular/material' as mat;

:host {
  display: flex;
  align-items: flex-start;
  padding-left: 1rem;
  width: 12rem;
  align-content: center;
  justify-content: center;
}

/* Shared chip styling */
mat-chip {
  font-weight: 600;
  border-radius: 6px;
  color: white;
  width: 12rem;

  /* Target the actual background element inside the MDC chip */
  .mdc-evolution-chip__background {
    background: inherit !important;
  }

  .mat-mdc-chip-action-label {
    color: inherit !important;
  }

  .mobile-font-scale {
    font-size: 0.7rem;
    padding: 0;
  }
}

::ng-deep .mat-mdc-chip-action {
  display: flex;
  flex: 1;
}
// --- PAINT TYPES ---

.paint-type-primer {
  background: #424242 !important; // dark grey
  color: #fff !important;
}

.paint-type-air {
  background: #0288d1 !important; // deep cyan-blue
  color: #fff !important;
}

.paint-type-base {
  background: #b71c1c !important; // deep red
  color: #fff !important;
}

.paint-type-contrast {
  background: linear-gradient(135deg, #311b92, #6a1b9a) !important; // very dark purple-magenta
  color: #fff !important;
}

.paint-type-layer {
  background: #0d47a1 !important; // very dark blue
  color: #fff !important;
}

.paint-type-shade {
  background: rgba(0, 0, 0, 0.9) !important; // almost black
  backdrop-filter: blur(2px) !important;
  color: #fff !important;
}

.paint-type-technical {
  background: #004d40 !important; // dark teal
  color: #fff !important;
}

.paint-type-metallic {
  background: linear-gradient(135deg, #616161, #9e9e9e, #616161) !important; // darker silver gradient
  color: #fff !important;
  border: 1px solid rgba(255, 255, 255, 0.7) !important;
}

.paint-type-colour-shift {
  background: linear-gradient(135deg, #006064, #8b008b) !important; // dark cyan <-> dark magenta
  color: #fff !important;
}

.paint-type-other {
  background: #424242 !important; // fallback dark grey
  color: #fff !important;
}